<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs')%>
    <style>
        .gameItem {
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 5px 10px 10px #e8f5ee;
            height: 100px;
        }
        .unmatched {
            background-color: red;
        }
        
    </style>
</head>

<body>
    <main class="container">
        <header class="row">
            <%- include('partials/header.ejs')%>
        </header>
        <div id="app">
            <section class="row" id="board">
                <!-- <div class="col-2 gameItem m-2 p1 text-center">
                    <img src="https://cdn.pixabay.com/photo/2019/11/27/14/06/pokemon-4657023_960_720.png" alt="" class="img-fluid">
                </div> -->
                
            </section>
            <section class="row">
                <div class="col" id="reset">
                    <hr>
                    <button class="btn btn-primary" id="reset">Chơi lại</button>
                    <button class="btn btn-danger" id="cancel"><a href="/login" style="text-decoration: none; color: #fff">Thoát</a></button>
                </div>
            </section>
        </div>

        <footer class="row">    
            <%- include('partials/footer.ejs')%>
        </footer>
    </main>
    <script src="assets/main.bundle.js"></script>
    <script src="assets/vendors~main.chunk.js"></script>
    
    <%- include('partials/foot.ejs')%>
</body>
</html>